
<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Town:</strong>
  <%= @address.town %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @address.zip_code %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>Person's Name:</strong>
  <%= @address.person.first_name%>
</p>

<%= link_to 'Back', person_path(@address.person_id) %> | 
<%= link_to 'Delete', person_address_path(@address.person, @address), method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Edit', edit_person_address_path(params[:person_id], params[:id]) %>
